@model Libreria.Models.Libro;
@{
    ViewData["Title"] = "Editar Libro";
    ViewData["Boton"] = "Editar libro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-11">
            <h2 class="page-title">@ViewData["Title"]</h2>
            <div class="card shadow mb-4">

              <div class="card-body">
                <div class="row">
                  <div class="modal-body p-4">

                      <form method="post" asp-action="EditarLibro">

                          <div class="form-group mb-3">
                            <label asp-for="titulo" >Titulo</label>
                            <input type="text" asp-for="titulo" class="form-control"  required>
                            <span asp-validation-for="titulo" ></span>
                          </div>

                          <div class="form-group mb-3">
                            <label asp-for="descripcion" >Descripcion</label>
                            <input type="text" asp-for="descripcion" class="form-control"  required>
                            <span asp-validation-for="descripcion" ></span>
                          </div>

                          <div class="form-group mb-3">
                            <label asp-for="fechaLanzamiento" >Fecha lanzamiento del libro</label>
                            <input type="date" asp-for="fechaLanzamiento" class="form-control"  required>
                            <span asp-validation-for="fechaLanzamiento" ></span>
                          </div>

                          <div class="form-group mb-3">
                            <label asp-for="autor" >Nombre del autor</label>
                            <input type="text" asp-for="autor" class="form-control"  required>
                            <span asp-validation-for="autor" ></span>
                          </div>

                          <div class="form-group mb-3">
                            <label asp-for="precio" >Precio venta</label>
                            <input type="number" asp-for="precio" class="form-control"  required>
                            <span asp-validation-for="precio" ></span>
                          </div>


                           <input id="boton_crear" type="submit" class="btn mb-2 btn-primary btn-block" value="@ViewData["Boton"]">
                               <span class="fe mr-2">  </span>
                           </input>
                           <a asp-controller="Libro" asp-action="index" >
                               <button id="regresar" type="button"
                                        class="btn mb-2 btn-light btn-block"><span class="fe mr-2"></span>Regresar</button>
                           </a>
                      </form>


                     </div>
                 </div>
              </div> <!-- / .card -->
                @*
@section Script{

    @{ <partial name="_Valo "> }
}*@